

h1{
  color:white;
 
}



h2{
  color:white;
   
}

img{
  height:300px;
  width: 450px;
  margin: 50px 100px;
  border: dashed white;
}


body{
  background-image:
    url(https://snuggs.me.uk/content/images/thumbs/0001710_navy-blue-acrylic-canvas.jpeg)
}

ul{
  color: white;
 


