body{
  background-image: url("http://pre08.deviantart.net/faa3/th/pre/f/2015/152/f/6/cleveland_cavaliers_all_in_wallpaper_by_vndesign-d8vkzno.png") ;
}
img{
  height: 350px;
}

h1{
  color: white;
}
p{
  color: white;
  background-color:black;
}
ul{
  color: white;
}